$swatch_1: #585858;
$menu_color: #f0f0f0;
$bg_color: white;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

@mixin control-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -5px;
  margin-right: -5px;

  > * {
    margin: 0;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
::v-deep .tablecenter {
  text-align: center;
}
@media only screen and (max-width: 900px) {
  ::v-deep  .parammobile {
    .el-tooltip {
      flex-direction: column;
      width: 100%;
      .el-input-group--prepend {
        padding-bottom: 5px;
      }
    }
  }
  ::v-deep .main-input-control {
    width: 100%;
  }
  ::v-deep .el-button--mini {
    margin-bottom: 5px;
  }
  ::v-deep .ButtonPermission {
    margin-bottom: 33px !important;
  }
}
